body{

    background-color: rgb(190, 190, 247);
    text-align: center;
    background-image: url(cat\ image.jpg);
}
/* h1,p,div{
    color: red;
} */

.demo{
    background-color: red;
    text-decoration: underline;
}
#leo{
    color: beige;
    font-size: 40px;
}
#leo2{
    color: rgb(43, 255, 0);
}
#leo3{
    color: rgb(255, 3, 179);
}